.cDiv {
	position: relative;
	left: 1024px;

	
}
.ciC{
	
}

.cTable {
	
	background: rgba(182, 54, 236, 0.68); 
	overflow: auto;
	height:560px;
	width: 40%;
	color : white; 
	
	

}

.bgC {
	background-size: cover; 
	background-repeatno-repeat;
		overflow-x :hidden;
	
}
.gDiv {
	position : absolute;
}

.creditsDiv {
	color: white; 
}