.cDiv {
	position: relative;
	left: 1024px;

	
}

.cTable {
	
	background: rgba(182, 54, 236, 0.68); 
	overflow: auto;
	height:560px;
	width: 40%;
	color : white; 
	
	
	
}
.gDiv {
	position : absolute;
}

.creditsDiv {
	color: white; 
}